[submodule "themes/newsroom"]
	path = themes/newsroom
	url = https://github.com/onweru/newsroom.git
[submodule "themes/Stack"]
	path = themes/Stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
